<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practical78_json.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E736F00D1F19F36500D03865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E736F0211F19F36500D03865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E736F02C1F19F36500D03865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
